
/*
 * Get Segment.
 *
 * Value of specific
 * segment on divided
 * line between min-max.
 */
@function getSegment($total, $index, $min, $max, $factored: false) {

  $factor: $index / $total;
  $step: ($max - $min) / ($total - 1);

  $segment: $step * ($index + 1);
  $segment: if($factored, $segment * $factor, $segment);

  @return ceil($min + $segment);
}
